/* FILTRO */
.filtro{
    width: 100%;
    height: 45vh;
    justify-content: space-between;
    align-items: center;
    background: url("/imagens/fundo.png") #242424;
    padding: 25px 0 50px 0;
}

/* logo */
.filtro .logo img{
    width: 150px;
}

/* pesquisa */
.filtro .pesquisa h1{
    color: #ffffff;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 25px;
}

/* input-group */
.filtro .pesquisa .input-group input{
    width: 700px;
    height: 45px;
    font-size: 1rem;
    border-radius: 100px;
    border: none!important;
    outline: none;
    box-sizing: border-box;
    padding: 0 65px;
    margin-bottom: 5px; 
}

.filtro .pesquisa .input-group i:nth-child(1){
    color: #909090;
    transform: translateX(50px);
    transition: .2s all;
}

.filtro .pesquisa .input-group i:nth-child(3){
    color: #909090;
    transform: translateX(-50px);
    transition: .2s all;
}
.filtro .pesquisa .input-group i:nth-child(3):hover{
    color: #aa2222;
}

/* RESULTADOS */
.resultados{
    width: 100%;
    padding: 25px 100px;
}

.resultados > .header{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 25px;
}

.resultados > .header h4{
    font-size: 1.3rem;
}

.resultados > .header .acoes{
    flex-direction: row;
}

.btn-acao{
    flex-direction: row;
    align-items: center;
    color: #909090;
    cursor: pointer;
    margin-left: 25px;
}

.btn-acao i{
    color: #909090;
    font-size: 18px;
    border: 2px solid #eeeeee;
    border-radius: 100px;
    padding: 5px;
    margin-right: 10px;
    transition: .2s all;
}

.btn-acao:nth-child(1):hover{
    color: #aa2222;
}

.btn-acao:nth-child(1):hover i{
    color: #aa2222;
    border-color: #aa22223e;
}

.btn-acao:nth-child(2){
    color: #d89339;
}

.btn-acao:nth-child(2) i{
    color: #d89339;
    border-color: #d8933940;
}

/* tabela */
.resultados .tabela{
    width: 100%;
    height: 400px;
    scrollbar-width: thin;
    scrollbar-color: #ffffff;
    overflow: auto;
}

.resultados .tabela::-webkit-scrollbar{
    width: 14px;
}

.resultados .tabela::-webkit-scrollbar-thumb{
    background: #e5e5e5;
    background-clip: padding-box;
    border: 5px solid rgba(0, 0, 0, 0);
}

/* header */
.resultados .tabela .header{
    width: 100%;
    min-height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #eeeeee;
    padding: 0 25px;
}

/* th - checkbox - all */
.resultados .tabela .header .th:nth-child(1){
    margin-right: 25px;
}


/* th */
.resultados .tabela .header .th{
    display: block;
    color: #909090;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.resultados .tabela .header .th:nth-child(2){
    width: 25%;
}

.resultados .tabela .header .th:nth-child(3){
    width: 30%;
}

.resultados .tabela .header .th:nth-child(4){
    width: 10%;
}

.resultados .tabela .header .th:nth-child(5){
    width: 10%;
}

.resultados .tabela .header .th:nth-child(6){
    width: 10%;
}

.registros .btn-acao {
    font-size: 12px;
    display: inline-flex;
    margin-left: 0;
}

/* tr */
.resultados .tabela .tr{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: 15px 25px;
}

.resultados .tabela .tr:hover{
    background-color: #eeeeee8e;
}

.resultados .tabela .tr .td{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.resultados .tabela .tr .td img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 30px;
}

.resultados .tabela .tr .td:nth-child(1){
    margin-right: 25px;
}

.resultados .tabela .tr .td:nth-child(2){
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resultados .tabela .tr .td:nth-child(3){
    width: 30%;
}

.resultados .tabela .tr .td:nth-child(4){
    width: 10%;
}

.resultados .tabela .tr .td:nth-child(5){
    width: 10%;
}

.resultados .tabela .tr .td:nth-child(6){
    width: 10%;
}

.resultados .tabela .tr .td:nth-child(6) .btn-acao:hover{
    color: #d89339;
}

.resultados .tabela .tr .td:nth-child(6) .btn-acao:hover i{
    color: #d89339;
    border-color: #d8933940;
}

/* KEYFRAMES */
@keyframes checkbox-in{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes checkbox-out{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

.modal button.btn.btn-submit {
    background-color: #006300;
    color: #FFF;
    font-weight: 900;
}

.modal .modal-footer {
    display: flex;
    flex-direction: row;
}

.modal .modal-success-title{
    text-align: center;
    width: 100%;
    color: black;
}
.modal .modal-success-header{
    background-color: green;
}

.modal .input-group {
    margin: 5px 0;
}

.modal .modal-body input {
    color: #808080
}


